<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net452" />
  <package id="NUnit" version="3.7.1" targetFramework="net452" />
  <package id="PeanutButter.RandomGenerators" version="1.2.156" targetFramework="net452" />
  <package id="PeanutButter.TestUtils.Generic" version="1.2.156" targetFramework="net452" />
  <package id="PeanutButter.Utils" version="1.2.156" targetFramework="net452" />
</packages>